*/target
*/.settings
*/.project
*/.classpath
*.aux
*.log
docs/MageComet/instructions.out
docs/MageComet/instructions.toc
docs/MageComet/.title.tex.properties.xml
docs/MageCOmet/.Instrutions.tex.properties.xml
