<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<listener>
		<listener-class>
			uk.ac.ebi.fgpt.magecomet.server.InitilizationServletContextListener
  		</listener-class>
	</listener>

	<context-param>
		<!--  max size of the upload request-->
		<param-name>maxSize</param-name>
		<param-value>3145728</param-value>
	</context-param>

	<context-param>
		<!--
			Useful in development mode to slow down the uploads in fast networks.
			Put the number of milliseconds to sleep in each block received in the
			server. false or 0, means don't use slow uploads
		-->
		<param-name>slowUploads</param-name>
		<param-value>0</param-value>
	</context-param>

	<!-- Servlets -->
	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<!-- This is the default servlet, it puts files in session -->
		<servlet-class>uk.ac.ebi.fgpt.magecomet.server.UploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>*.gupld</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>FileServiceImpl</servlet-name>
		<servlet-class>uk.ac.ebi.fgpt.magecomet.server.FileServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FileServiceImpl</servlet-name>
		<url-pattern>/magecomet/FileService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>uk.ac.ebi.fgpt.magecomet.server.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/magecomet/DownloadServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EFOServiceImpl</servlet-name>
		<servlet-class>uk.ac.ebi.fgpt.magecomet.server.EFOServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EFOServiceImpl</servlet-name>
		<url-pattern>/magecomet/EFOService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchServiceImpl</servlet-name>
		<servlet-class>uk.ac.ebi.fgpt.magecomet.server.SearchServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServiceImpl</servlet-name>
		<url-pattern>/magecomet/SearchService</url-pattern>
	</servlet-mapping>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>magecomet.html</welcome-file>
	</welcome-file-list>





</web-app>
